Load libraries

In [6]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

Load en bekijk data

In [7]:
df = pd.read_csv("titanic_data.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Bekijk welke data categorisch is

In [8]:
df.select_dtypes(exclude = [np.number]).columns
# So just sex and embarked after I've deleted name, cabin and ticket

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

Verwijder de kolommen 'Name', 'Cabin' en 'Ticket'

In [9]:
df.drop(columns=['Name', 'Cabin', 'Ticket'], axis=1, inplace=True)
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.0,1,0,7.2500,S
1,2,1,1,female,38.0,1,0,71.2833,C
2,3,1,3,female,26.0,0,0,7.9250,S
3,4,1,1,female,35.0,1,0,53.1000,S
4,5,0,3,male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,13.0000,S
887,888,1,1,female,19.0,0,0,30.0000,S
888,889,0,3,female,NaN,1,2,23.4500,S
889,890,1,1,male,26.0,0,0,30.0000,C
890,891,0,3,male,32.0,0,0,7.7500,Q

Codeer categorische features met indices (getallen)

In [10]:
df["Sex"] = pd.factorize(df.Sex)[0]
df["Embarked"] = pd.factorize(df.Embarked)[0]
df

     PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0              1         0       3    0  22.0      1      0   7.2500         0
1              2         1       1    1  38.0      1      0  71.2833         1
2              3         1       3    1  26.0      0      0   7.9250         0
3              4         1       1    1  35.0      1      0  53.1000         0
4              5         0       3    0  35.0      0      0   8.0500         0
..           ...       ...     ...  ...   ...    ...    ...      ...       ...
886          887         0       2    0  27.0      0      0  13.0000         0
887          888         1       1    1  19.0      0      0  30.0000         0
888          889         0       3    1   NaN      1      2  23.4500         0
889          890         1       1    0  26.0      0      0  30.0000         1
890          891         0       3    0  32.0      0      0   7.7500         2

[891 rows x 9 columns]

Vervang NaN in "Ages". Bepaal zelf of mediaan of gemiddelde hiervoor het best is.

In [11]:
df["Age"] = df["Age"].fillna(df["Age"].median()) 
#Median because its the center
df 
# Replace Embarked's NaN values by the median (median so it will be an integer)
df["Age"] = df["Embarked"].fillna(df["Embarked"].median())

Bereid de data voor om je model te trainen. Wat wordt je target vector en hoe ziet je feature matrix er uit?

In [12]:
# The feature matrix

x = df.drop('Survived', axis=1)
x.shape

(891, 8)

In [13]:
#Target vector
y = df['Survived']
y.shape

(891,)

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state = 6)

Train en test KNN classifier

In [15]:
print(df[df.isna().any(axis=1)])
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(x_train, y_train)
pred = knn.predict(x_test)
accuracy_score(pred, y_test)

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked]
Index: []

0.6256983240223464

Train en test regressie classifier. Kies je lineair of logistisch?

In [16]:
# Logistisch omdat we een binair label voorspellen (Survived or not)

log_reg = LogisticRegression()
log_reg.fit(x_train, y_train)
pred = log_reg.predict(x_test)
accuracy_score(pred, y_test)

0.8379888268156425

Welk model geeft het beste resultaat?

###### KNN classifier: 0.625
###### Regressie classifier: 0.837
###### Dus het Regressie model geeft het beste resultaat.